#playersPane{
    -fx-font-family : Cambria;
    -fx-font-size: 17 px;
    -fx-text-align: center;

}
#connectionPane{
    -fx-font-family :Cambria;
    -fx-font-size: 23 px;
    -fx-text-align: center;
}

#btnBack{
    -fx-background-color: #ddd;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-margin: 4px 2px;
    -fx-opacity: 0.8;
    -fx-transition: 0.3s;
    -fx-border-color:#E9967A;
    -fx-font-size: 15 px;

}
#btnNPlayers{
    -fx-background-color: #ddd;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-color: white;
    -fx-margin: 4px 2px;
    -fx-opacity: 0.8;
    -fx-transition: 0.3s;
    -fx-border-color:#E9967A;
    -fx-font-size: 12 px;

}
#btnConnect{
    -fx-background-color: #ddd;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-margin: 4px 2px;
    -fx-opacity: 0.8;
    -fx-transition: 0.3s;
    -fx-border-color:#E9967A;
}

#easterPane{
     -fx-opacity: 0;
}

#btnBack:hover {
   -fx-background-color: #E9967A;
   -fx-opacity: 1;
   -fx-color: #191970;

}
#btnConnect:hover {
   -fx-background-color: #E9967A;
   -fx-opacity: 1;
   -fx-color: #191970;
   -fx-font-size:24 px;
}
#btnNPlayers:hover {
   -fx-background-color: #E9967A;
   -fx-opacity: 1;
   -fx-color: #191970;
   -fx-font-size:15 px;
}

#easterPane:hover{
     -fx-opacity: 1;
}

*.error {
     -fx-text-box-border: red ;
     -fx-focus-color: red ;
}

