#usernamePane{
    -fx-font-family : Cambria;

}

#btnSendCorrectedUsername{
    -fx-background-color: #ddd;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-color: white;
    -fx-margin: 4px 2px;
    -fx-opacity: 0.8;
    -fx-transition: 0.3s;
    -fx-border-color:#E9967A;
    -fx-font-size: 16 px;
}

#btnSendCorrectedUsername:hover {
   -fx-background-color: #E9967A;
   -fx-opacity: 1;
   -fx-color: #191970;

}