#rootPane{
    -fx-font-family :Cambria;
    -fx-font-size: 21 px;
    -fx-text-align: center;
}

#btnStart {
    -fx-background-color: #ddd;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 0.8;
    -fx-margin: 4px 2px;
    -fx-opacity: 0.8;
    -fx-transition: 0.3s;
    -fx-border-color:#E9967A;

}
#btnQuit {
   -fx-background-color: #ddd;
       -fx-background-repeat: no-repeat;
       -fx-background-position: center center;
       -fx-opacity: 0.8;
       -fx-border: black;
       -fx-margin: 4px 2px;
       -fx-opacity: 0.8;
       -fx-transition: 0.3s;
       -fx-border-color:#E9967A;
}

#btnStart:hover {
   -fx-background-color: #E9967A;
   -fx-opacity: 1;
   -fx-color:#191970;
   -fx-font-size:24 px;
}

#btnQuit:hover {
   -fx-background-color: #E9967A;
   -fx-opacity: 1;
   -fx-color:#191970;
   -fx-font-size:25 px;
}